<div class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4]">
      <mat-card class="mat-elevation-z4">
        <img mat-card-image src="../../../../assets/images/ms-row-img.png">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class='prod-icon'>
            <button mat-icon-button >
              <mat-icon>favorite</mat-icon>
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Quick view">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Add to cart">
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <span  class="cart-lk">
              <a> Add to Cart </a>
            </span>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>