<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
    <h3>Contact us</h3>
    <form [formGroup]="contactUsForm" (ngSubmit)="onContactUsFormSubmit()">
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Subject" formControlName="subject">
        <mat-error *ngIf="((contactUsForm.controls['subject'].errors?.required)&&(ifSubmitted==true))">
          Subject is required </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mt-2">
        <mat-label>Department</mat-label>
        <select matNativeControl formControlName="department">
          <option value="customer">CUSTOMER</option>
          <option value="vendor">VENDOR</option>
          <option value="corporate">CORPORATE</option>
        </select>
        <mat-error *ngIf="((contactUsForm.controls['department'].errors?.required)&&(ifSubmitted==true))">
          Department is required </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Description" formControlName="description">
        <mat-error *ngIf="((contactUsForm.controls['description'].errors?.required)&&(ifSubmitted==true))">
          Description is required </mat-error>
      </mat-form-field>
      <div class="text-center mt-2">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>