<div class="theme-container main">
  <div class="blog-wrapper">
    <div class="blog-wrap">
      <div class="blog-card">
        <h3 class="blog-title">Featured posts</h3>
        <div class="blog-card" fxLayout="row">
          <div class="blog-img">
            <img class="feature"
              src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1621513925932.jpeg&amp;width=200&amp;max-height=200" />
          </div>
          <div class="blog-content">
            <p> May 20 , 2021 </p>
            <h3>SMALL WONDER</h3>
            <h4>
              <p>The joys of&nbsp;<a href="https://engrave.in/name-on-rice">Name On Rice</a>&nbsp;are always
                eye-opening. And a key chain that personalises these feelings will always make for a fetching gift.</p>
            </h4>
          </div>
        </div>
        <div class="blog-tit">
          <h2>Blog List</h2>
        </div>
        <div class="blog-row2 ng-star-inserted" fxLayout="row">
          <div class="blog-col-rht">
            <div fxFlex class="three blog-card2 ng-star-inserted" style="cursor: pointer;" tabindex="0">
              <div class="blog-img">
                <img
                  src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1621513657997.jpeg&amp;width=200&amp;height=150" />
              </div>
              <div class="blog-content">
                <h3>Air Conditioning &amp; Summers No-Distancing</h3>
                <ul>
                  <li>Split AC with inverter compressor: Variable speed compressor which adjusts power depending on heat
                    load. 5 modes to choose within different </li>
                </ul>
                <span class="ng-star-inserted">...</span>
                <div class="blog-card-ftr">
                  <h4></h4>
                  <p>20 May 2021</p>
                </div>
              </div>
            </div>
            <div fxFlex class=" three blog-card2 ng-star-inserted" style="cursor: pointer;" tabindex="0">
              <div class="blog-img"><img
                  src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1621512989799.jpeg&amp;width=200&amp;height=150">
              </div>
              <div class="blog-content">
                <h3>FREE Books to Achieving Goals </h3>
                <p>Online shopping for Competitive&nbsp;<em>Exam eBooks</em>&nbsp;from a great selection at Kindle Store
                  Store.</p>
                <!---->
                <div class="blog-card-ftr" fxLayout="row">
                  <h4></h4>
                  <p>20 May 2021</p>
                </div>
              </div>
            </div>
            <div fxFlex class="three blog-card2 ng-star-inserted" style="cursor: pointer;" tabindex="0">
              <div class="blog-img"><img
                  src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1621512232011.jpeg&amp;width=200&amp;height=150">
              </div>
              <div class="blog-content">
                <h3>Ebooks</h3>
                <p>Reading books just got easier. Get&nbsp;<em>free</em>&nbsp;books on your cell phone. Start reading
                  now! Become a Volunteer. Sign Up For Updates. Ma</p><span class="ng-star-inserted">...</span>
                <div class="blog-card-ftr" fxLayout="row">
                  <h4></h4>
                  <p>20 May 2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-row2 ng-star-inserted" fxLayout="row">
          <div class="blog-col-rht">
            <div fxFlex class="blog-card2 ng-star-inserted" style="cursor: pointer;" tabindex="0">
              <div class="blog-img"><img
                  src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1621511938052.jpeg&amp;width=200&amp;height=150">
              </div>
              <div class="blog-content">
                <h3>Pure Natural Hair Oil</h3>
                <ul>
                  <li>100 percent certified organic coconut oil, made from the finest quality coconuts sourced from
                    certified organic farms across India, 100 perc</li>
                </ul>
                <span class="ng-star-inserted">...</span>
                <div class="fxLayout  blog-card-ftr">
                  <p>20 May 2021</p>
                </div>
              </div>
             
            </div>
            <div fxFlex class="blog-card2 ng-star-inserted" style="cursor: pointer;" tabindex="0">
              <div class="blog-img"><img
                  src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1583399277671.jpeg&amp;width=200&amp;height=150">
              </div>
              <div class="blog-content">
                <h3>Machine incredible</h3>
                <p>test</p>
                <div class="fxLayout  blog-card-ftr">
                  <p>05 Mar 2020</p>
                </div>
              </div>
            </div>
            <div fxFlex class="blog-card2 ng-star-inserted" style="cursor: pointer;" tabindex="0">
              <div class="blog-img"><img
                  src="https://image.spurtcart.com/?path=blog/&amp;name=Img_1583399061219.png&amp;width=200&amp;height=150">
              </div>
              <div class="blog-content">
                <h3>Incredible Features</h3>
                <p>We are offering lots of features like usb port, wifi connection.</p>
                <div class="fxLayout  blog-card-ftr">
                  <h4></h4>
                  <p>05 Mar 2020</p>
                </div>
              </div>
              <!-- <div class="blog-card-hover">
                <h3>Incredible Features</h3>
                <p>
                <p>We are offering lots of features like usb port, wifi connection.</p>
                <h4><a href="javascript:void(0)">View More
                  </a></h4>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>