<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
    <form>

      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="What do you want to call this address">
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Address Line 1">
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Address Line 2">
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="City">
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Province">
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Zip Code">
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <input matInput placeholder="Country">
      </mat-form-field>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Save new shipping address
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
</div>