/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~swiper/dist/css/swiper.min.css';
@import "default/theme/styles/base";
@import "default/theme/styles/theme";
@import '~@ngx-share/button/themes/default/default-theme';
@import '~@ngx-share/button/themes/material/material-dark-theme';
@import '~@ngx-share/button/themes/material/material-light-theme';
@import '~@ngx-share/button/themes/circles/circles-dark-theme';
@import '~@ngx-share/button/themes/modern/modern-light-theme';
@import '~@ngx-share/button/themes/outline/outline-theme';

.cdk-global-scrollblock{
    position: initial;
}

.app.green {
    .mat-standard-chip {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        justify-content: center;
        padding: 7px 0px;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    }

    .mat-toolbar.header {
        background: white;
        color: #616161;

        .top-menu {
            a {
                color: #616161;
                text-transform: capitalize;
                font-weight: 500;

                &.dapp {
                    border-right: 0px;
                }
            }
        }

        a.login-reg {
            font-size: 14px;
            color: black;
            font-weight: 500;
            text-decoration: none;
        }

        .mat-button {
            color: black;
            font-weight: 400;
        }
    }

    .horizontal-active-link {
        //color: white !important;
    }

    .horizontal-active-link_account {
        color: green !important;
    }

    .top-navbar.mat-toolbar a {
        color: #000000 !important;
        font-size: 12px;
        padding: 5px 15px;
        min-width: 100px;

    }

    .featured-tabs {
        .mat-tab-header {
            border-bottom: 0px !important;
        }

        .mat-tab-label {
            justify-content: flex-start;
            padding-left: 0;
            opacity: 1;

            .mat-tab-label-content {
                font-size: 18px;
                color: black;
                font-weight: bold;
            }
        }

        .mat-tab-label-active {
            border-bottom: 0px !important;
            color: black;
        }

        .mat-ink-bar {
            background: transparent !important;
        }

        .mat-tab-body-wrapper {

            /*background: #fff;
            -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);*/
            .swiper-slide {
                .mat-card {
                    box-shadow: none;

                    &:hover {
                        /*-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
                        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);*/
                    }
                }
            }
        }

        .swiper-container {
            padding: 0;
        }
    }

    .prod-icon {
        justify-content: space-between;

        .picons {
            justify-content: flex-start;

            a {
                display: inline-block;
                margin-right: 10px;
            }

            &.picons-lg {
                a {
                    padding: 10px;
                }
            }
        }

        .cart-lk {
            a {
                border-radius: 5px;
                border: solid 2px #FF5354;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: 500;
                color: #FF5354 !important;
                text-decoration: none;
                display: inline-block;

                &:hover {
                    background: #FF5354;
                    color: white !important;
                }
            }

            &.bc-lk {
                a {
                    font-size: 20px;
                    padding: 10px 20px;
                }
            }
        }
    }

    .middle-banner {
        justify-content: space-between;
        height: 370px;
        margin-top: 30px;

        .mb-left {
            width: 40%;
            background: #027600;
            padding: 50px 30px;
            box-sizing: border-box;

            h2 {
                font-size: 34px;
                font-weight: 500;
                color: white;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: white;
                margin-bottom: 20px;
            }

            a {
                font-size: 14px;
                font-weight: 500;
                color: white;
                background: black;
                padding: 5px 10px;
                margin-bottom: 20px;
                -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
            }
        }

        .mb-rht {
            width: 60%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .email {
        word-break: break-word;
    }
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn {
    //width: 25%;
    border-radius: 19px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.averageDiscount {
    background-color: #e1ae09 !important;
    color: rgba(0, 0, 0, 0.87);
}

.mat-chip.mat-standard-chip.mat-chip-selected.discount {
    background-color: #689f38 !important;
    color: rgba(0, 0, 0, 0.87);
}

.blackStyle {
    color: #616161;
}

.mode-group {
    .mat-radio-checked .mat-radio-inner-circle {
        background-color: #679e38 !important;
    }
}

.address {
    margin-bottom: 20px;

    .mat-radio-checked .mat-radio-inner-circle {
        background-color: #679e38 !important;
    }

    .mat-radio-button {
        width: 100%;
        margin-bottom: 0px;
        border: solid thin #f2f2f2;
        padding: 10px;
    }

    .mat-radio-button:nth-child(even) {
        background: #fbfbfb;
    }

    .mat-radio-label {
        white-space: normal;
        vertical-align: top;
    }

    .mat-radio-label-content {
        h3 {
            font-size: 16px;
            font-weight: 500;

            span {
                display: inline-block;
                font-size: 12px;
                color: #7bc76d;
                background: #e7f5e4;
                border-radius: 4px;
                margin: 0 10px;
                padding: 0 4px;
            }

            a {
                float: right;
                font-size: 14px;
                color: #46b032;
                text-decoration: none;
            }
        }
    }

    button {
        display: block;
        width: 100%;
        margin: 15px 0;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        background: #211f1f !important;
        padding: 10px;
        border-radius: 2px;
        border: 0px;
    }
}

.availableOptionsList {
    .mat-radio-checked .mat-radio-inner-circle {
        background-color: #5ca00c !important;
    }
}

.newaddress {
    margin-bottom: 20px;

    .mat-radio-checked .mat-radio-inner-circle {
        background-color: #679e38 !important;
    }

    .mat-radio-button {
        width: 100%;
        margin-bottom: 0px;
        padding: 10px;
    }

    .mat-radio-button:nth-child(even) {
        background: #fbfbfb;
    }

    .mat-radio-label {
        white-space: normal;
        vertical-align: top;
    }

    .mat-radio-label-content {
        h3 {
            font-size: 16px;
            font-weight: 500;

            span {
                display: inline-block;
                font-size: 12px;
                color: #7bc76d;
                background: #e7f5e4;
                border-radius: 4px;
                margin: 0 10px;
                padding: 0 4px;
            }

            a {
                float: right;
                font-size: 14px;
                color: #46b032;
                text-decoration: none;
            }
        }
    }

    button {
        display: block;
        width: 100%;
        margin: 15px 0;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        background: #211f1f !important;
        padding: 10px;
        border-radius: 2px;
        border: 0px;
    }
}

.service-dialog {
    max-width: 600px !important;
    width: 510px !important;
    overflow: hidden !important;
    height: auto !important;
}

.mat-dialog-content {
    height: auto !important;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* a {
    color: white !important;
    font-size: 12px;
    padding: 6px 20px 6px 0;
    min-width: 100px;
}*/
// .account-pane {
//     position: absolute;
//     right: -60px !important;
//     width: 20% !important;
// }
// .cart-pane {
//     position: absolute;
//     right: -28px !important;
//     width: 20% !important;
// }

.app.green {
    .mat-toolbar.mat-primary {
        background: #ffffff;
        height: auto;
        align-items: center !important;
        padding: 8px 10px;
        border-bottom: 1px solid #ddd;
        box-shadow: none;
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        justify-content: space-between !important;

        a.logo {
            display: flex;
            margin-right: 50px;
            padding: 0;

            img {
                height: 100px;
            }
        }
    }
}

.top-navbar.mat-toolbar a span {
    color: #000;
    font-weight: 600;
    line-height: normal;
    margin: 6px 0 0 0;
    font-size: 15px;
}

.search-form .search-btn {
    background: #FF5354 !important;
    border-radius: 0;
}

.app.green .top-navbar.mat-toolbar a {
    padding: 5px 12px;
    min-width: 0;
}

.app.green .top-navbar.mat-toolbar a.mat-button:hover {
    background: transparent !important;
}

.mat-button:hover .mat-button-focus-overlay,
.mat-stroked-button:hover .mat-button-focus-overlay {
    opacity: 0 !important;
}

.app.green .top-navbar.mat-toolbar a.mat-button:hover span,
.app.green .top-navbar.mat-toolbar a.mat-button:hover .mat-icon {
    color: #FF5354;
}

.app.green .top-navbar.mat-toolbar a.mat-button .mat-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-img {
    height: 80px;
    width: auto;
    max-width: 100%;
}

.productsWrap .productCol {
    transform: none !important;
}

.app.green .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

/*.productsWrap .products-wrapper {
    border: 1px solid #ddd;
}*/
.col.productDiv {
    padding: 0;
    /*border-right: 1px solid #ddd;*/
}

/*.productDiv .image-link:hover img {
    transform: scale(1.1);
}*/
.productsWrap .mat-card {
    transform: none !important;
    padding: 0;
}

.productDiv .image-link img {
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

/*.custom-divider{margin-left: -16px;margin-right: -16px;}*/

body,
.mat-card,
.mat-tab-label,
.mat-tab-link,
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
    font-family: 'Urbanist', sans-serif;
}

.app.green .mat-drawer-container {
    background: transparent;
}

.loginPage.mat-card {
    background: #fff7ee !important;
}

.containerWrap {
    max-width: 950px;
    margin: 0 auto;
}

.all-products .product-item img {
    width: 100%;
    object-fit: contain;
}

.trending-products .all-products .product-item .image-link img {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.trending-products .product-item .product-img {
    border: 1px solid #d9d9d9;
    padding: 20px 20px 5px;
    margin-bottom: 10px;
    box-shadow: 0 3px 4px 0px #ddd;
}

.trending-products .product-item {
    padding: 0 10px 0 0;
}

.app.green .trending-products .product-item .title {
    color: #000 !important;
    font-size: 16px;
    font-weight: bold;
}

.all-products {
    margin-top: 10px;
}

.app.green .top-navbar.mat-toolbar a {
    font-size: 14px;
}

.loginPage h4 span {
    background: #fff7ee !important;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 1px 2px #868686;
}

.formIcons .mat-icon.material-icons {
    background: #fff;
    margin: 0 10px;
    padding: 15px 30px;
    border: 1px solid #000;
    border-radius: 10px;
}

.formIcons {
    margin-bottom: 20px;
}

.signInTitle {
    font-size: 40px;
}

.actionBtn {
    background: rgb(95,130,255) !important;
    background: linear-gradient(90deg, rgba(95,130,255,1) 0%, rgba(51,94,247,1) 100%) !important;
    color: #fff !important;
    width: 100%;
    border-radius: 25px !important;
    padding: 5px 15px !important;
    font-size: 16px;
    font-weight: bold;
}

.loginPage h6 {
    font-size: 18px;
}

.text-red {
    color: #FF5354;
}

.loginPage h5 {
    font-size: 16px;
}

.loginPage h3 {
    font-size: 16px;
}

.loginPage .mat-form-field-label-wrapper {
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    color: #000;
    top: 0px;
    padding: 0;
    left: 15px;
}

.loginPage .fieldWithIcon .mat-form-field-label-wrapper{left: 50px;}

.app.green .loginPage .mat-checkbox-frame {
    border-color: rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.loginPage .mat-checkbox-label {
    color: #000000;
}

.mat-checkbox {
    font-family: 'Urbanist', sans-serif;
}

body {
    font-size: 16px;
}

.loginPage .mat-form-field-infix {
    padding: 0;
    border: none;
}

.loginPage input.mat-input-element {
    background: #fff;
    border: none !important;
    margin: 0;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 12px;
}

.loginPage .mat-form-field-underline {
    display: none;
}

.search-form {
    border-radius: 0 !important;
    max-width: 90%;
    margin: 0 auto;
}


.app .theme-container-full.main {
    padding: 0;
}

.app .main-slider {
    height: 340px !important;
    margin-top: 0 !important;
}

.app .swiper-container {
    border-radius: 0 !important;
}

.site-container {
    padding: 0 16px;
    width: 100%;
}

/*.app.green .featured-tabs .mat-tab-label {
    background: #D9D9D9;
    padding-left: 10px;
    margin-bottom: 15px;
}*/

.wishIcon.mat-icon-button {
    position: absolute;
    right: 10px;
    top: 0;
}

.productRating {
    text-align: left;
    font-size: 12px;
    margin: 0 0 0 -15px;
}

.productRating span {
    background: rgba(16, 16, 16, 0.08);
    padding: 2px 10px;
    border-radius: 10px;
    margin: 0 0 0 4px;
}

.regularPrice {
    font-weight: bold;
    color: #000;
    position: relative;
}

.regularPrice:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: red;
    top: 11px;
}

.top-navbar .mat-icon-sm img {
    height: 20px;
}

.top-navbar .flex-row-button.mat-button {
    margin: 0;
}

.top-navbar .flex-row-button.mat-button .mat-button-wrapper {
    flex-direction: column;
}

.top-navbar .flex-row-button.mat-button .mat-button-wrapper .blackStyle {
    color: #000;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.headerCartIcon:hover .blackStyle {
    color: #FF5354 !important;
}

.top-navbar.mat-toolbar .top-menu a span,
.top-menu .mat-button-wrapper .blackStyle {
    font-size: 12px;
}

.headerCartIcon img {
    height: 20px;
    position: relative;
    top: 6px;
}

/*.app.green .products-tabs.featured-tabs:nth-of-type(1) .mat-tab-label {
    background: transparent;
    padding: 0;
    margin: 0;
}*/

.app .footer,
.app .footer[_ngcontent-c8] {
    background: transparent !important;
    padding-bottom: 30px;
}

.footer p {
    font-size: 13px;
    font-weight: 500;
}

.footer .mat-button {
    padding: 0;
    min-width: 0;
    line-height: normal;
}

.footer .col-title {
    font-size: 14px;
    margin-bottom: 15px;
}

.footer-menu-item {
    line-height: normal;
}

.advertisement-heading {
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px 0 5px;
}


@media (max-width: 1500px) {
    .app.green .top-navbar.mat-toolbar a {
        padding: 5px 8px;
    }

    .top-navbar.mat-toolbar a span {
        font-size: 13px;
    }

    .trending-products .all-products .product-item .image-link img {
        height: 150px;
    }

    .app.green .trending-products .product-item .title {
        font-size: 14px;
    }
}

@media (max-width: 1400px) {
    .app.green .top-navbar.mat-toolbar a {
        padding: 5p;
    }

    .menu-img {
        height: 55px;
    }
}

.emailIcon{position: relative;}
.emailIcon:before {content: "";height: 20px;width: 20px;position: absolute;background: url(/assets/images/emailIcon.png);z-index: 1;
top: 25px;left: 20px;}
.lockIcon{position: relative;}
.lockIcon:before {content: "";height: 20px;width: 20px;position: absolute;background: url(/assets/images/lockIcon.png);z-index: 1;
top: 25px;left: 20px;}


.loginPage .fieldWithIcon input.mat-input-element {padding-left: 50px;}
.mat-expansion-panel-header, .categories-dropdown .mat-menu-item{font-family: 'Urbanist', sans-serif;}
.app.green .new-price{margin: 0 4px;}
.app .theme-container-full.main {
    padding: 117px 0 0 0;
}
html.cdk-global-scrollblock{position: static;}
.menuWrap {margin-right: auto;}
.menu-right{flex: 1 1 0;margin: 0 !important;}
.menuTag{display: flex;flex: 1 1 0;}
.navcart {justify-content: space-between !important;width: 100%;}
.navcart app-top-menu {
    width: 100%;
}
.search-form input[type="text"] {
    padding: 15px 15px 15px 40px;
    border: 1px solid #D9D9D9;
    font-family: 'Urbanist', sans-serif;
}
.search-algin .mat-dialog-content {
    position: absolute;
    width: 90%;
    background: #fff;
    left: 5%;
    padding: 20px 30px;
    box-sizing: border-box;
    max-height: 500px;
    overflow: auto;
}

.search-algin {
    position: relative;
    margin-left: 0 !important;
}
.search-algin, .search-algin *{box-sizing: border-box;}
.search-algin .mat-dialog-content > div {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.search-algin h5 {
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    color: #000;
}
.search-algin ul {
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
}
.search-algin ul li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-algin .title.text-truncate {
    padding: 5px 30px 5px 5px !important;
    text-transform: none !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500 !important;
    font-size: 16px !important;
}
.app.green .top-navbar.mat-toolbar a.title.text-truncate{color: #757575 !important;}
.search-algin ul .mat-icon-sm {
    cursor: pointer;
    border: 1px solid #757575;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #757575;
    font-weight: bold;
}
.menu-drop h3 {
    padding: 10px 20px;
    font-size: 18px;
}
.profileIcon span.blackStyle {
    margin-top: 8px !important;
 }
 .app .footer {
    padding-top: 30px;
    border-top: 1px solid #ddd;
    margin-top: 50px;
}
.cdk-overlay-pane {
    position: fixed;
}
.text-left{text-align: left;}

.notFonudPage h3 {
    margin-bottom: 15px;line-height: normal;
}
.notFoundImg{margin-bottom: 20px;}
.priceAndIcons p {font-size: 14px;}
.priceAndIcons p{font-size: 14px;}
.titleWithIcon {
    display: flex;
    align-items: center;
    color: #000000;
}
.titleWithIcon img {
    margin: 0 10px 0 0;
}

@media (max-width: 1480px){
    .priceAndIcons p, .product-item .prices .new-price {font-size: 14px;}
    .app.green .mat-toolbar.mat-primary a.logo{margin-right: 20px;}
}

@media (min-width: 960px){
    .formSignInUp{position: relative;justify-content: space-between;}
    .formSignInUp:before {content: "";height: 80%;position: absolute;left: 50%;background: #000;width: 1px;top: 35px;}
}

@media (max-width: 959px){
    .app.green .mat-toolbar.mat-primary a.logo img {height: 50px;}
    .app.green .mat-toolbar.mat-primary a.logo {margin-right: auto;margin-left: 10px;}
    .top-navbar.mat-toolbar-single-row {justify-content: space-between !important;}
    .headerCartIcon img {top: -5px;height: 17px;}
    .categories-dropdown .mat-menu-item {height: auto;line-height: normal;padding: 7px 10px;}
    .search-algin.ng-star-inserted { position: fixed;top: 61px;z-index: 123;left: 0;width: 100%;padding: 10px 10px;background: #fff;}
    .mobileSearchIcon.mat-button {padding-left: 3px !important;padding-right: 3px !important;}
    .mobileSearchIcon .fa.fa-search{font-size: 15px;float: left;margin: 2px 0 0 0;}
    .top-navbar .mat-icon-sm img {height: 16px;}
    .app.green .top-navbar.mat-toolbar a {padding: 5px;}
    .flex-row-button.headerCartIcon {padding: 5px;min-width: auto;}
    .app .theme-container-full.main {padding: 67px 0 0 0;}
    .top-menu {align-items: center;justify-content: flex-end;}
}

@media (max-width: 767px){
    .formIcons .mat-icon.material-icons{margin: 0 5px;padding: 10px 15px;}
}