<footer class="footer">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 theme-container">

        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25" class="useful-links">
            <h3 class="col-title">USEFUL LINKS FOR CUSTOMER</h3>
            <div class="footer-menu-item"><a mat-button routerLink="/contactus">Contact us</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/faq">FAQs</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/tAndC">T&C</a></div>
            <div class="footer-menu-item"><a mat-button>Shiping</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/faq">Returns</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/privacy">Pricavy policy</a></div>

            <h3 class="col-title mt-3">JOIN OUR COMMUNITY</h3>
            <div class="footer-menu-item"><a mat-button>Blog</a></div>
            <div class="footer-menu-item"><a mat-button>Instagram</a></div>
            <div class="footer-menu-item"><a mat-button>Facebook</a></div>
            <div class="footer-menu-item"><a mat-button>Tiktok</a></div>
            <div class="footer-menu-item"><a mat-button>Twitter</a></div>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25" ngClass.xs="mt-2">


            <h3 class="col-title">USEFUL LINKS FOR VENDOR</h3>
            <div class="footer-menu-item"><a mat-button routerLink="/contactus">Contact us</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/faq">FAQs</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/tAndC">T&C</a></div>
            <div class="footer-menu-item"><a mat-button>Shiping</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/faq">Returns</a></div>
            <div class="footer-menu-item"><a mat-button routerLink="/privacy">Pricavy policy</a></div>

            <h3 class="mt-3 col-title">CORPORATE</h3>
            <div class="footer-menu-item"><a mat-button routerLink="/contactus">Contact us</a></div>
            <div class="footer-menu-item"><a mat-button>Careers</a></div>

        </div>





        <!-- *ngIf="(listSandbox.settingDetail$ | async) as contact" -->
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2">
            <h3 class="col-title">ABOUT US</h3>
            <p fxLayout="row">
                iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw
                qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd
                iuwdiu ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid
                uoiwd w oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid uwe w oiwuoiw uoi ueoiwudoiw euoi w
                oiweudoiwe u wue oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif uewoiufoiew uweoif uweoi fewo
                owuf oiwfuoiew f eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw iuwh dwdeiw kwehdoiweo
                wedihwiue hwedq owi qoiw qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw qwjdqwdiqdq wdyuq idqiwd
                qk qw do q qhwdu q iqpwdi p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu ywdh yiud owdow hd
                owdowd w doi uwdow udo wdoiw udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w oiwoeu oiew wudoiw
                udoiw ud uwdiouoie u u oiwueoid uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue oiwufoiew
                uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f eoifuweoif
                oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw qwhdqw
                jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi p2qdp
                oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw
                udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w oiwoeu oiew wudoiw udoiw ud uwdiouoie u u
                oiwueoid uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue oiwufoiew uwoiefuweoif uwoie uwoifeuewoi
                ufoiew uewoif uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f eoifuweoif oiuo uweoioiew f we foiwe ufoiw
                uoiewufoiewfuw


            </p>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="theme-container">
        <h3 class="col-title">ABOUT US</h3>
        <p fxLayout="row">
            iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw
            qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu
            ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w
            oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue
            oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f
            eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw
            qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi
            p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw
            udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid
            uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif
            uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw
            iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw
            qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu
            ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w
            oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue
            oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f
            eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw
            qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi
            p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw
            udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid
            uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif
            uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw
            iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw
            qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu
            ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w
            oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue
            oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f
            eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw iuwh dwdeiw kwehdoiweo wedihwiue hwedq owi qoiw
            qwhdqw jgdyu uhdiuwd u wdyu gw huw ydiqw dq qw idqiw qwjdqwdiqdq wdyuq idqiwd qk qw do q qhwdu q iqpwdi
            p2qdp oidw ur2dqwd jwiudyut 32y 2dwe wedw giiwd hd iuwdiu ywdh yiud owdow hd owdowd w doi uwdow udo wdoiw
            udoiw udo wd oiw uoiwudoi odoiw dwoi eiod woid uoiwd w oiwoeu oiew wudoiw udoiw ud uwdiouoie u u oiwueoid
            uwe w oiwuoiw uoi ueoiwudoiw euoi w oiweudoiwe u wue oiwufoiew uwoiefuweoif uwoie uwoifeuewoi ufoiew uewoif
            uewoiufoiew uweoif uweoi fewo owuf oiwfuoiew f eoifuweoif oiuo uweoioiew f we foiwe ufoiw uoiewufoiewfuw
        </p>
    </div>
    <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="py-2 copyright theme-container">
        <p ngClass.xs="mt-1" class="copyright">Copyright © 2022, Beaver ecommerce</p>
    </div> -->
</footer>

<!-- <footer class="bg-primary footer">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 theme-container">
        <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="50" class="useful-links">
            <h3 class="col-title">USEFUL LINKS</h3>
            <p class="mt-2" *ngFor="let links of listSandbox.pageList$ | async">
                <a [routerLink]="['/page-detail', links.pageId]" class="white-color">{{links.title}}</a></p>
        </div>
        60iv fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20" ngClass.xs="mt-2" *ngIf="(listSandbox.settingDetail$ | async) as contact">
            <h3 class="col-title">CONTACT INFORMATION</h3>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 ">
                <mat-icon class="mr-1">location_on</mat-icon>
                <span>{{contact.storeAddress}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 ">
                <mat-icon class="mr-1">call</mat-icon>
                <span>{{contact.storeTelephone}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 ">
                <mat-icon class="mr-1">mail_outline</mat-icon>
                <span>{{contact.storeEmail}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 ">
                <mat-icon class="mr-1">schedule</mat-icon>
                <span>Mon - Sun / 9:00AM - 8:00PM</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                <mat-icon class="mr-1">directions</mat-icon>
                <a class=" white-color" [routerLink]="['/getdirections']">Get directions</a>
            </p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" ngClass.sm="mt-2" ngClass.xs="mt-2" *ngIf="(listSandbox.settingDetail$ | async) as contact">
            <h3 class="col-title">SOCIAL MEDIA</h3>
            <p class="mt-2">
                <a (click)="openLink(contact.facebook)" class="link"> <img src="assets/images/others/facebook.png"> </a>
            </p>
            <p class="mt-2">
                <a (click)="openLink(contact.google)" class="link"> <img src="assets/images/others/google+.png"> </a>
            </p>
            <p class="mt-2">
                <a (click)="openLink(contact.twitter)" class="link"> <img src="assets/images/others/twitter.png"> </a>
            </p>
        </div>
        <div class="android-div">
            <img class="android-img" src="assets/images/others/android.png" (click)="downloadApp()"></div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright theme-container">
        <p ngClass.xs="mt-1" class="copyright">Copyright © 2022,Piccosoft Software labs India Private Limited</p>
    </div>
</footer> -->